

<div class="card">
    <div class = "space"></div>
  <div  class="img-container">
        <div calss="pic">
              <img src= "assets/img/profile.jpg">
        </div> 
        <div class="motoDeatils">
            <mat-card>
            <strong>Deliveries completed :</strong>
            <strong>Rate:</strong> 
            </mat-card>
        </div> 
       
  </div>

  <div  class="motoboy-container">
      <mat-card>
          <strong>First Name:</strong><b><p>{{currentUser.firstName}}</p></b>
          <strong>Last Name:</strong><b><p>{{currentUser.lastName}}</p></b>
          <strong>Email:</strong><b><p>{{currentUser.email}}</p></b>
          <strong>PhoneNumber:</strong><b><p>{{currentUser.phoneNumber}}</p></b>
      </mat-card>
  </div>


  <div class= "edit">
  <button mat-fab mat-button routerLink="/app-edit-moto" >Edit</button>
  </div>
  <div class = "space"></div>

</div>