
<div class="row w3-theme content">
    <div class="column img">
        <mat-card-header>
            <mat-card-title>
                <h2>Step 1</h2>
                <h3><span>You contact our delivery service to do a new order</span></h3>
            </mat-card-title>
        </mat-card-header>
        <mat-card class="img-card">
            <img src="assets/img/express-delivery.jpg"  alt="Express delivery" width="100%">
        </mat-card>   
    </div>
    <div class="column img">
        <mat-card-header>
            <mat-card-title>
                <h2>Step 2</h2>
                <h3><span>Our motoboy take care of your order</span></h3>
            </mat-card-title>
        </mat-card-header>
        <mat-card class="img-card">
            <img src="assets/img/delivery-service2.jpg"  alt="Delivery service" width="100%" >
        </mat-card>
    </div>
    <div class="column img">
        <mat-card-header>
            <mat-card-title>
                <h2>Step 3</h2>
                <h3><span>Our motoboy brings the packet to your destination</span></h3>
            </mat-card-title>
        </mat-card-header>
        <mat-card class="img-card">
            <img src="assets/img/delivery-done.jpg"  alt="Service done" width="100%">
        </mat-card>
    </div>
</div>


